#***********************************************************
# User constraints Spartan6
# Reptar
# VTT 02.02.2012
#***********************************************************
CONFIG VCCAUX = 3.3;
#***********************************************************
# I/O Standard
#***********************************************************
# Vérifier 20.03.2012 VTT/YNG
# Modifié  16.08.2012 ELR	ajout FMC1 pour proto2
# Modifié  05.12.2012 ELR   adaptation pour série1 (signaux accéléromètre)
# Modifié  18.02.2013 HTG   ajout touch pad
# Modifié  30.04.2013 CMR   ajout interface gpmc-ddr
# Modified 07.11.2013 ELR	DIP_i and FPGA_LED_i order inverted, file renamed
#--------------------------------------------------------------------------
# Bank0
NET "SP6_7seg1_o[*]" 		IOSTANDARD = LVCMOS33;
NET "SP6_7seg2_o[*]" 		IOSTANDARD = LVCMOS33;
NET "SP6_7seg3_o[*]" 		IOSTANDARD = LVCMOS33;
NET "SP6_7seg1_DP_o" 		IOSTANDARD = LVCMOS33;
NET "SP6_7seg2_DP_o" 		IOSTANDARD = LVCMOS33;
NET "SP6_7seg3_DP_o" 		IOSTANDARD = LVCMOS33;
NET "SW_PB_i[*]" 			IOSTANDARD = LVCMOS33;
NET "SP6_Clk_100MHz_i" 		IOSTANDARD = LVCMOS33;
#NET "FMC_TRST_L_o" 		IOSTANDARD = LVCMOS33;
NET "FMC1_PRSNT_M2C_L_i"	IOSTANDARD = LVCMOS33;
NET "FMC1_LA_P_io[*]" 		IOSTANDARD = LVCMOS33;
NET "FMC1_LA_N_io[*]" 		IOSTANDARD = LVCMOS33;
NET "FMC1_CLK1_M2C_P_i" 	IOSTANDARD = LVDS_33;
NET "FMC1_CLK1_M2C_N_i" 	IOSTANDARD = LVDS_33;
NET "FMC1_CLK0_M2C_P_i" 	IOSTANDARD = LVDS_33;
NET "FMC1_CLK0_M2C_N_i" 	IOSTANDARD = LVDS_33;
#-------------------------------------------
# Bank1
#NET "SP6_LB_DATA_io[*]" 	IOSTANDARD = LVCMOS18;
#NET "SP6_LB_ADDR_i[*]" 	IOSTANDARD = LVCMOS18;
NET "Addr_Data_LB_io[*]"	IOSTANDARD = LVCMOS18;
NET "Addr_LB_i[*]" 			IOSTANDARD = LVCMOS18;	
NET "SP6_LB_RE_nOE_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_LB_nWE_i" 			IOSTANDARD = LVCMOS18;
NET "SP6_LB_WAIT3_o" 		IOSTANDARD = LVCMOS18;
NET "SP6_LB_nCS3_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_LB_nCS4_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_LB_nADV_ALE_i" 	IOSTANDARD = LVCMOS18;
NET "SP6_LB_nBE0_CLE_i" 	IOSTANDARD = LVCMOS18;
NET "SP6_LB_WAIT0_o" 		IOSTANDARD = LVCMOS18;
NET "SP6_LB_CLK_i" 			IOSTANDARD = LVCMOS18;
NET "I2C_SCL_1V8_o" 		IOSTANDARD = LVCMOS18;
NET "I2C_SDA_1V8_o" 		IOSTANDARD = LVCMOS18;
NET "SP6_I2C_SCL_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_I2C_SDA_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_SPI_nCS2_o" 		IOSTANDARD = LVCMOS18;
NET "SP6_SPI_nCS3_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_SPI_nCS4_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_SPI_SDO_i"  		IOSTANDARD = LVCMOS18;
NET "SP6_SPI_SDI_o" 			IOSTANDARD = LVCMOS18;
NET "SP6_SPI_SCLK_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_ACC_INT1_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_ACC_INT2_i" 		IOSTANDARD = LVCMOS18;
NET "SP6_GPIO18_1_o" 		IOSTANDARD = LVCMOS18;
NET "uP_nRESET_OUT_i" 		IOSTANDARD = LVCMOS18;
NET "MICTOR_SP6_A0_o[*]" 	IOSTANDARD = LVCMOS18;
NET "MICTOR_SP6_A1_o[*]" 	IOSTANDARD = LVCMOS18;
NET "MICTOR_SP6_A2_o[*]" 	IOSTANDARD = LVCMOS18;
NET "MICTOR_SP6_A3_o[*]" 	IOSTANDARD = LVCMOS18;
NET "MICTOR_SP6_CLK_0_o" 	IOSTANDARD = LVCMOS18;
NET "MICTOR_SP6_CLK_1_o" 	IOSTANDARD = LVCMOS18;
NET "SP6_GPIO_DIFFS_i[*]" IOSTANDARD = LVCMOS18;

#-------------------------------------------
# Bank2
NET "SP6_DKK_io[*]" 		IOSTANDARD = LVCMOS33;
NET "CLK_25MHz_SP6_i" 		IOSTANDARD = LVCMOS33;

NET "FTDI_nRESET_o" 		IOSTANDARD = LVCMOS33;
NET "FTDI_TX_i" 	        IOSTANDARD = LVCMOS33;
NET "FTDI_RX_o" 	        IOSTANDARD = LVCMOS33;
NET "FTDI_nRTS_i" 			IOSTANDARD = LVCMOS33;
NET "FTDI_nCTS_o" 	        IOSTANDARD = LVCMOS33;
# to accelerometer        
NET "SP6_SPI_nCS1_o" 		IOSTANDARD = LVCMOS33;
NET "SP6_ACC_SPI_SDI_o" 	IOSTANDARD = LVCMOS33;
NET "SP6_ACC_SPI_SCL_o" 	IOSTANDARD = LVCMOS33;
# from accelerometer        
NET "SP6_ACC_INT1_i" 		IOSTANDARD = LVCMOS33;
NET "SP6_ACC_INT2_i" 		IOSTANDARD = LVCMOS33;
NET "SP6_ACC_SPI_SDO_i" 	IOSTANDARD = LVCMOS33;

                           
#-------------------------------------------
# Bank3	3.3V!! mettre le cavalier pour VCCO_3 en position 3.3V
NET "SP6_GPIO_io[*]" 		IOSTANDARD = LVCMOS33;
NET "DIP_i[*]" 				IOSTANDARD = LVCMOS33;
NET "SP6_GPIO_22_i" 		IOSTANDARD = LVCMOS33;
NET "AD_GPIO_o[*]" 		IOSTANDARD = LVCMOS33;
NET "AD_SDI_o" 				IOSTANDARD = LVCMOS33;
NET "AD_nCS_o" 				IOSTANDARD = LVCMOS33;
NET "AD_CLK_o" 				IOSTANDARD = LVCMOS33;
NET "AD_SDO_i" 				IOSTANDARD = LVCMOS33;
NET "FMC2_PRSNT_M2C_L_i" 	IOSTANDARD = LVCMOS33;
NET "FMC2_LA_P_io[*]" 		IOSTANDARD = LVCMOS33;
NET "FMC2_LA_N_io[*]" 		IOSTANDARD = LVCMOS33;
# nouvelle version norme FMC: les 2 clocks sont M2C
NET "FMC2_CLK1_M2C_P_i" 	IOSTANDARD = LVDS_33;
NET "FMC2_CLK1_M2C_N_i" 	IOSTANDARD = LVDS_33;
NET "FMC2_CLK0_M2C_P_i" 	IOSTANDARD = LVDS_33;
NET "FMC2_CLK0_M2C_N_i" 	IOSTANDARD = LVDS_33;
#-------------------------------------------
# Bank4
NET "FPGA_LED_o[*]" 			IOSTANDARD = LVCMOS33;
NET "Inc_Enc_A_i" 			IOSTANDARD = LVCMOS33;
NET "Inc_Enc_B_i" 			IOSTANDARD = LVCMOS33;
NET "Digital_Audio_TX_o" 	IOSTANDARD = LVCMOS33;
NET "Digital_Audio_RX_i" 	IOSTANDARD = LVCMOS33;
NET "PCI_PERST_o" 			IOSTANDARD = LVCMOS33;
NET "CAN_RXD_i" 				IOSTANDARD = LVCMOS33;
NET "CAN_TXD_o" 				IOSTANDARD = LVCMOS33;
NET "SP6_GPIO33_io[*]" 		IOSTANDARD = LVCMOS33;
NET "SP6_nReset_i"        IOSTANDARD = LVCMOS33;  
NET "SP6_UART1_CTS_o" 		IOSTANDARD = LVCMOS33;
NET "SP6_UART1_RTS_i" 		IOSTANDARD = LVCMOS33;
NET "SP6_UART1_RX_i" 		IOSTANDARD = LVCMOS33;
NET "SP6_UART1_TX_o" 		IOSTANDARD = LVCMOS33;
NET "DAC_nRS_o" 				IOSTANDARD = LVCMOS33;
NET "DAC_nCS_o" 				IOSTANDARD = LVCMOS33;
NET "DAC_nLDAC_o" 			IOSTANDARD = LVCMOS33;
NET "DAC_CLK_o" 				IOSTANDARD = LVCMOS33;
NET "DAC_SDI_o" 				IOSTANDARD = LVCMOS33;
NET "Buz_osc_o" 				IOSTANDARD = LVCMOS33;
NET "PCB_TB_io" 				IOSTANDARD = LVCMOS33;
NET "PCB_TB_io"				PULLUP;
# with serial resistance it doesn't work!
#NET "PCB_TB_io"			    IN_TERM = UNTUNED_SPLIT_75 ;
NET "SP6_GPIO_H_io[*]" 		IOSTANDARD = LVCMOS33;
NET "LCD_DB_io[*]" 			IOSTANDARD = LVCMOS33;
NET "LCD_R_nW_o" 				IOSTANDARD = LVCMOS33;
NET "LCD_RS_o" 				IOSTANDARD = LVCMOS33;
NET "LCD_E_o" 					IOSTANDARD = LVCMOS33;
#-------------------------------------------
# Bank5
NET "DDR2_A_o[*]"           IOSTANDARD = SSTL18_II;
NET "DDR2_BA_o[*]"          IOSTANDARD = SSTL18_II;
NET "DDR2_DQ_io[*]"         IOSTANDARD = SSTL18_II;
NET "DDR2_CKE_o"              IOSTANDARD = SSTL18_II;
NET "DDR2_WE_o"                 IOSTANDARD = SSTL18_II;
NET "DDR2_ODT_o"              IOSTANDARD = SSTL18_II;
NET "DDR2_nRAS_o"           IOSTANDARD = SSTL18_II;
NET "DDR2_nCAS_o"           IOSTANDARD = SSTL18_II;
NET "DDR2_LDM_o"              IOSTANDARD = SSTL18_II;
NET "DDR2_UDM_o"              IOSTANDARD = SSTL18_II;
NET "DDR2_LDQS_P_o"         IOSTANDARD = DIFF_SSTL18_II;
NET "DDR2_LDQS_N_o"         IOSTANDARD = DIFF_SSTL18_II;
NET "DDR2_UDQS_P_o"         IOSTANDARD = DIFF_SSTL18_II;
NET "DDR2_UDQS_N_o"         IOSTANDARD = DIFF_SSTL18_II;
NET "DDR2_CK_P_o"           IOSTANDARD = DIFF_SSTL18_II;
NET "DDR2_CK_N_o"           IOSTANDARD = DIFF_SSTL18_II;

NET "mcb5_zio"          IOSTANDARD = SSTL18_II;
NET "mcb5_rzq"          IOSTANDARD = SSTL18_II;
NET "DDR2_A14_i"            IOSTANDARD = SSTL18_II;
############################################
# 		BANK 0 2V5/3V3 
############################################
# Vérifier 20.03.2012 VTT/YNG
#0 1 2 3 4 5 6
#-------------
#a b c d e f g
NET "SP6_7seg1_o[0]" LOC = M15;
NET "SP6_7seg1_o[1]" LOC = L14;
NET "SP6_7seg1_o[2]" LOC = F23;
NET "SP6_7seg1_o[3]" LOC = L13;
NET "SP6_7seg1_o[4]" LOC = M13;
NET "SP6_7seg1_o[5]" LOC = G21;
NET "SP6_7seg1_o[6]" LOC = H21;
NET "SP6_7seg1_DP_o" LOC = E23;

NET "SP6_7seg2_o[0]" LOC = H14;
NET "SP6_7seg2_o[1]" LOC = H13;
NET "SP6_7seg2_o[2]" LOC = F14;
NET "SP6_7seg2_o[3]" LOC = E15;
NET "SP6_7seg2_o[4]" LOC = F15;
NET "SP6_7seg2_o[5]" LOC = G14;
NET "SP6_7seg2_o[6]" LOC = K15;
NET "SP6_7seg2_DP_o" LOC = F13;

NET "SP6_7seg3_o[0]" LOC = J13;
NET "SP6_7seg3_o[1]" LOC = K14;
NET "SP6_7seg3_o[2]" LOC = G11;
NET "SP6_7seg3_o[3]" LOC = F12;
NET "SP6_7seg3_o[4]" LOC = E13;
NET "SP6_7seg3_o[5]" LOC = J14;
NET "SP6_7seg3_o[6]" LOC = G12;
NET "SP6_7seg3_DP_o" LOC = H11;

NET "SW_PB_i[1]" LOC = C24;
NET "SW_PB_i[2]" LOC = B25;
NET "SW_PB_i[3]" LOC = E25;
NET "SW_PB_i[4]" LOC = D25;
NET "SW_PB_i[5]" LOC = A25;
NET "SW_PB_i[6]" LOC = J22;
NET "SW_PB_i[7]" LOC = H22;
NET "SW_PB_i[8]" LOC = D24;

NET "SP6_Clk_100MHz_i" LOC = E16;

#NET "FMC_TRST_L_o" LOC = F24;
NET "FMC1_PRSNT_M2C_L_i" LOC = B17;
NET "FMC1_LA_P_io[31]" LOC = L11;
NET "FMC1_LA_P_io[21]" LOC = F8;
NET "FMC1_LA_P_io[29]" LOC = K10;
NET "FMC1_LA_P_io[22]" LOC = H7;
NET "FMC1_LA_P_io[19]" LOC = F6;
NET "FMC1_LA_P_io[27]" LOC = D6;
NET "FMC1_LA_P_io[32]" LOC = E7;
NET "FMC1_LA_P_io[23]" LOC = D8;
NET "FMC1_LA_P_io[20]" LOC = B7;
NET "FMC1_LA_P_io[18]" LOC = F9;
NET "FMC1_LA_P_io[33]" LOC = J8;
NET "FMC1_LA_P_io[16]" LOC = F11;
NET "FMC1_LA_P_io[17]" LOC = G10;
NET "FMC1_LA_P_io[14]" LOC = J12;
NET "FMC1_LA_P_io[24]" LOC = M19;
NET "FMC1_LA_P_io[10]" LOC = M10;
NET "FMC1_LA_P_io[13]" LOC = L12;
NET "FMC1_LA_P_io[7]" LOC = M18;
NET "FMC1_LA_P_io[25]" LOC = L17;
NET "FMC1_LA_P_io[4]" LOC = H17;
NET "FMC1_LA_P_io[5]" LOC = H16;
NET "FMC1_LA_P_io[28]" LOC = M20;
NET "FMC1_LA_P_io[3]" LOC = H19;
NET "FMC1_LA_P_io[6]" LOC = G18;
NET "FMC1_LA_P_io[26]" LOC = F17;
NET "FMC1_LA_P_io[0]" LOC = G22;
NET "FMC1_LA_P_io[2]" LOC = F21;
NET "FMC1_LA_P_io[30]" LOC = H15;
NET "FMC1_LA_P_io[11]" LOC = F19;
NET "FMC1_LA_P_io[15]" LOC = J18;
NET "FMC1_LA_P_io[9]" LOC = L21;
NET "FMC1_LA_P_io[12]" LOC = K20;
NET "FMC1_LA_P_io[1]" LOC = G20;
NET "FMC1_LA_P_io[8]" LOC = K19;
NET "FMC1_LA_N_io[31]" LOC = K11;
NET "FMC1_LA_N_io[21]" LOC = E8;
NET "FMC1_LA_N_io[29]" LOC = J10;
NET "FMC1_LA_N_io[22]" LOC = G7;
NET "FMC1_LA_N_io[19]" LOC = E6;
NET "FMC1_LA_N_io[27]" LOC = C6;
NET "FMC1_LA_N_io[32]" LOC = D7;
NET "FMC1_LA_N_io[23]" LOC = C8;
NET "FMC1_LA_N_io[20]" LOC = A7;
NET "FMC1_LA_N_io[18]" LOC = E9;
NET "FMC1_LA_N_io[33]" LOC = H8;
NET "FMC1_LA_N_io[16]" LOC = E11;
NET "FMC1_LA_N_io[17]" LOC = F10;
NET "FMC1_LA_N_io[14]" LOC = H12;
NET "FMC1_LA_N_io[24]" LOC = L19;
NET "FMC1_LA_N_io[10]" LOC = L10;
NET "FMC1_LA_N_io[13]" LOC = K12;
NET "FMC1_LA_N_io[7]" LOC = L18;
NET "FMC1_LA_N_io[25]" LOC = K17;
NET "FMC1_LA_N_io[4]" LOC = G17;
NET "FMC1_LA_N_io[5]" LOC = G16;
NET "FMC1_LA_N_io[28]" LOC = L20;
NET "FMC1_LA_N_io[3]" LOC = G19;
NET "FMC1_LA_N_io[6]" LOC = F18;
NET "FMC1_LA_N_io[26]" LOC = E17;
NET "FMC1_LA_N_io[0]" LOC = F22;
NET "FMC1_LA_N_io[2]" LOC = E21;
NET "FMC1_LA_N_io[30]" LOC = G15;
NET "FMC1_LA_N_io[11]" LOC = E19;
NET "FMC1_LA_N_io[15]" LOC = H18;
NET "FMC1_LA_N_io[9]" LOC = K21;
NET "FMC1_LA_N_io[12]" LOC = J20;
NET "FMC1_LA_N_io[1]" LOC = F20;
NET "FMC1_LA_N_io[8]" LOC = J19;
NET "FMC1_CLK1_M2C_P_i" LOC = C16;
NET "FMC1_CLK1_M2C_N_i" LOC = A16;
NET "FMC1_CLK0_M2C_P_i" LOC = B15;
NET "FMC1_CLK0_M2C_N_i" LOC = A15;
# "Unused" LOC = B6;
# "Unused" LOC = D16;
############################################
# 		BANK 1 1V8
############################################
# Vérifier 20.03.2012 VTT/YNG
NET "Addr_Data_LB_io[0]" 		LOC = AK29;		#DATA_0
NET "Addr_Data_LB_io[1]" 		LOC = AJ30;		#DATA_1
NET "Addr_Data_LB_io[2]" 		LOC = AJ29;		#DATA_2
NET "Addr_Data_LB_io[3]" 		LOC = AG28;		#DATA_3
NET "Addr_Data_LB_io[4]" 		LOC = AG30;		#DATA_4
NET "Addr_Data_LB_io[5]" 		LOC = AE25;		#DATA_5
NET "Addr_Data_LB_io[6]" 		LOC = Y22;		#DATA_6
NET "Addr_Data_LB_io[7]" 		LOC = Y24;		#DATA_7	
NET "Addr_Data_LB_io[8]" 		LOC = AH27;		#DATA_8
NET "Addr_Data_LB_io[9]" 		LOC = V24;		#DATA_9
NET "Addr_Data_LB_io[10]" 		LOC = U24;		#DATA_10
NET "Addr_Data_LB_io[11]" 		LOC = T25;		#DATA_11
NET "Addr_Data_LB_io[12]" 		LOC = Y25;		#DATA_12
NET "Addr_Data_LB_io[13]" 		LOC = V23;		#DATA_13
NET "Addr_Data_LB_io[14]" 		LOC = U25;		#DATA_14
NET "Addr_Data_LB_io[15]" 		LOC = AD27;		#DATA_15
NET "Addr_LB_i[16]" 			LOC = AG27;		#ADDR_1
NET "Addr_LB_i[17]" 			LOC = AE26;		#ADDR_2
NET "Addr_LB_i[18]" 			LOC = AG29;		#ADDR_3
NET "Addr_LB_i[19]" 			LOC = AH30;		#ADDR_4
NET "Addr_LB_i[20]" 			LOC = AK27;		#ADDR_5
NET "Addr_LB_i[21]" 			LOC = AJ28;		#ADDR_6
NET "Addr_LB_i[22]" 			LOC = AK28;		#ADDR_7
NET "Addr_LB_i[23]" 			LOC = T24;		#ADDR_8
NET "Addr_LB_i[24]" 			LOC = W22;		#ADDR_9

NET "SP6_LB_RE_nOE_i" 			LOC = P24;
NET "SP6_LB_nWE_i"				LOC = P25;
NET "SP6_LB_WAIT3_o"			LOC = R24;
NET "SP6_LB_nCS3_i" 			LOC = R25;
NET "SP6_LB_nCS4_i" 			LOC = AD26;
NET "SP6_LB_nADV_ALE_i" 		LOC = W21;
NET "SP6_LB_nBE0_CLE_i" 		LOC = Y23;
NET "SP6_LB_WAIT0_o" 			LOC = AG26;
NET "SP6_LB_CLK_i" 				LOC = U27;

NET "I2C_SCL_1V8_o" LOC = AH26;
NET "I2C_SDA_1V8_o" LOC = AA24;

NET "SP6_I2C_SCL_i" LOC = V27;
NET "SP6_I2C_SDA_i" LOC = AE27;
# SPI to external connector
NET "SP6_SPI_nCS2_o" LOC = P22;
# SPI from CPU
NET "SP6_SPI_nCS3_i" LOC = P23;
NET "SP6_SPI_SDO_i"  LOC = W25;
NET "SP6_SPI_SCLK_i" LOC = V26;
# SPI to CPU
NET "SP6_SPI_SDI_o" LOC = R21;
NET "SP6_SPI_nCS4_i" LOC = AE28;

# IRQ TO CPU
NET "SP6_GPIO18_1_o" LOC = AB30;

NET "uP_nRESET_OUT_i" LOC = AB28;

NET "MICTOR_SP6_A0_o[0]" LOC = Y27;
NET "MICTOR_SP6_A0_o[1]" LOC = Y30;
NET "MICTOR_SP6_A0_o[2]" LOC = Y28;
NET "MICTOR_SP6_A0_o[3]" LOC = AA27;
NET "MICTOR_SP6_A0_o[4]" LOC = AA30;
NET "MICTOR_SP6_A0_o[5]" LOC = AA29;
NET "MICTOR_SP6_A0_o[6]" LOC = AA28;
NET "MICTOR_SP6_A0_o[7]" LOC = W24;

NET "MICTOR_SP6_A1_o[0]" LOC = AC27;
NET "MICTOR_SP6_A1_o[1]" LOC = AC30;
NET "MICTOR_SP6_A1_o[2]" LOC = AC29;
NET "MICTOR_SP6_A1_o[3]" LOC = AC28;
NET "MICTOR_SP6_A1_o[4]" LOC = AD30;
NET "MICTOR_SP6_A1_o[5]" LOC = AD28;
NET "MICTOR_SP6_A1_o[6]" LOC = AE29;
NET "MICTOR_SP6_A1_o[7]" LOC = AE30;

NET "MICTOR_SP6_A2_o[0]" LOC = Y26;
NET "MICTOR_SP6_A2_o[1]" LOC = W30;
NET "MICTOR_SP6_A2_o[2]" LOC = W29;
NET "MICTOR_SP6_A2_o[3]" LOC = V30;
NET "MICTOR_SP6_A2_o[4]" LOC = V28;
NET "MICTOR_SP6_A2_o[5]" LOC = U30;
NET "MICTOR_SP6_A2_o[6]" LOC = U29;
NET "MICTOR_SP6_A2_o[7]" LOC = U28;

NET "MICTOR_SP6_A3_o[0]" LOC = T30;
NET "MICTOR_SP6_A3_o[1]" LOC = T28;
NET "MICTOR_SP6_A3_o[2]" LOC = T27;
NET "MICTOR_SP6_A3_o[3]" LOC = T26;
NET "MICTOR_SP6_A3_o[4]" LOC = R27;
NET "MICTOR_SP6_A3_o[5]" LOC = R30;
NET "MICTOR_SP6_A3_o[6]" LOC = R29;
NET "MICTOR_SP6_A3_o[7]" LOC = R28;

NET "MICTOR_SP6_CLK_0_o" LOC = W27;
NET "MICTOR_SP6_CLK_1_o" LOC = W28;

# vérifié 28.08.2012 ELR
NET "SP6_GPIO_DIFFS_i[0]" LOC = M23;
NET "SP6_GPIO_DIFFS_i[1]" LOC = M24;
NET "SP6_GPIO_DIFFS_i[2]" LOC = N29;
NET "SP6_GPIO_DIFFS_i[3]" LOC = N30;
NET "SP6_GPIO_DIFFS_i[4]" LOC = N27;
NET "SP6_GPIO_DIFFS_i[5]" LOC = N28;
NET "SP6_GPIO_DIFFS_i[6]" LOC = P28;
NET "SP6_GPIO_DIFFS_i[7]" LOC = P30;
NET "SP6_GPIO_DIFFS_i[8]" LOC = P26;
NET "SP6_GPIO_DIFFS_i[9]" LOC = P27;

# "Unused" LOC = AA25; SP6_Config_Busy
# "Unused" LOC = R22;
# "Unused" LOC = AF28;
# "Unused" LOC = AF30;
############################################
# 		BANK 2 3V3
############################################
# Vérifier 20.03.2012 VTT
NET "SP6_DKK_io[1]" LOC = Y17;
NET "SP6_DKK_io[2]" LOC = Y21;
NET "SP6_DKK_io[3]" LOC = AB21;
NET "SP6_DKK_io[4]" LOC = AA14;
NET "SP6_DKK_io[5]" LOC = AG25;
NET "SP6_DKK_io[6]" LOC = AF23;
NET "SP6_DKK_io[7]" LOC = AF21;
NET "SP6_DKK_io[8]" LOC = AC16;
NET "SP6_DKK_io[9]" LOC = AD18;
NET "SP6_DKK_io[10]" LOC = AA17;
NET "SP6_DKK_io[11]" LOC = AB19;
NET "SP6_DKK_io[12]" LOC = AB16;
NET "SP6_DKK_io[13]" LOC = AF13;
NET "SP6_DKK_io[14]" LOC = AE12;
NET "SP6_DKK_io[15]" LOC = AC12;
NET "SP6_DKK_io[16]" LOC = AB17;
NET "SP6_DKK_io[17]" LOC = W19;
NET "SP6_DKK_io[18]" LOC = Y19;
NET "SP6_DKK_io[19]" LOC = AE10;
NET "SP6_DKK_io[20]" LOC = AC22;
NET "SP6_DKK_io[21]" LOC = AC14;
NET "SP6_DKK_io[22]" LOC = AF25;
NET "SP6_DKK_io[23]" LOC = AE23;
NET "SP6_DKK_io[24]" LOC = AE21;
NET "SP6_DKK_io[25]" LOC = AE19;
NET "SP6_DKK_io[26]" LOC = AE17;
NET "SP6_DKK_io[27]" LOC = AA15;
NET "SP6_DKK_io[28]" LOC = AB14;
NET "SP6_DKK_io[29]" LOC = AD15;
NET "SP6_DKK_io[30]" LOC = AE13;
NET "SP6_DKK_io[31]" LOC = AD11;
NET "SP6_DKK_io[32]" LOC = AF9;
NET "SP6_DKK_io[33]" LOC = AH8;
NET "SP6_DKK_io[34]" LOC = AG7;
NET "SP6_DKK_io[35]" LOC = AE8;
NET "SP6_DKK_io[36]" LOC = Y12;
NET "SP6_DKK_io[37]" LOC = W12;
NET "SP6_DKK_io[38]" LOC = W14;
NET "SP6_DKK_io[39]" LOC = Y14;
NET "SP6_DKK_io[40]" LOC = Y15;
NET "SP6_DKK_io[41]" LOC = Y16;
NET "SP6_DKK_io[42]" LOC = Y20;
NET "SP6_DKK_io[43]" LOC = AA21;
NET "SP6_DKK_io[44]" LOC = Y13;
NET "SP6_DKK_io[45]" LOC = AA19;
NET "SP6_DKK_io[46]" LOC = AF24;
NET "SP6_DKK_io[47]" LOC = AD22;
NET "SP6_DKK_io[48]" LOC = AD20;
NET "SP6_DKK_io[49]" LOC = AF19;
NET "SP6_DKK_io[50]" LOC = AD17;
NET "SP6_DKK_io[51]" LOC = AK17;
NET "SP6_DKK_io[52]" LOC = AJ17;
NET "SP6_DKK_io[53]" LOC = AK15;
NET "SP6_DKK_io[54]" LOC = AF15;
NET "SP6_DKK_io[55]" LOC = AJ15;
NET "SP6_DKK_io[56]" LOC = AD16;
NET "SP6_DKK_io[57]" LOC = AC15;
NET "SP6_DKK_io[58]" LOC = W20;
NET "SP6_DKK_io[59]" LOC = AA22;
NET "SP6_DKK_io[60]" LOC = AC21;
NET "SP6_DKK_io[61]" LOC = AC24;
NET "SP6_DKK_io[62]" LOC = AD24;
NET "SP6_DKK_io[63]" LOC = AE24;
NET "SP6_DKK_io[64]" LOC = AE22;
NET "SP6_DKK_io[65]" LOC = AE20;
NET "SP6_DKK_io[66]" LOC = AE18;
NET "SP6_DKK_io[67]" LOC = AF17;
NET "SP6_DKK_io[68]" LOC = AB11;
NET "SP6_DKK_io[69]" LOC = AB12;
NET "SP6_DKK_io[70]" LOC = AE15;
NET "SP6_DKK_io[71]" LOC = AD12;
NET "SP6_DKK_io[72]" LOC = AD10;
NET "SP6_DKK_io[73]" LOC = AE9;
NET "SP6_DKK_io[74]" LOC = AG8;
NET "SP6_DKK_io[75]" LOC = AF7;
NET "SP6_DKK_io[76]" LOC = AD8;
NET "SP6_DKK_io[77]" LOC = AC11;
NET "SP6_DKK_io[78]" LOC = AB10;
NET "SP6_DKK_io[79]" LOC = AB9;
NET "SP6_DKK_io[80]" LOC = AA11;

# to accelerometer
NET "SP6_SPI_nCS1_o" 	LOC = AD19;
NET "SP6_ACC_SPI_SDI_o" LOC = AH16;
NET "SP6_ACC_SPI_SCL_o" LOC = AK16;
# from accelerometer
NET "SP6_ACC_INT1_i" LOC = AB18;
NET "SP6_ACC_INT2_i" LOC = AA18;
NET "SP6_ACC_SPI_SDO_i" LOC = AF16;

NET "CLK_25MHz_SP6_i" LOC = AG16;

NET "FTDI_nRESET_o" 	LOC = AH6;
NET "FTDI_TX_i" 	LOC = AB23;
NET "FTDI_RX_o" 	LOC = AC23;
NET "FTDI_nRTS_i" 	LOC = AH24;
NET "FTDI_nCTS_o" 	LOC = AC19;


# Ces signaux ne peuvent pas être utilisés !!!
#NET "SP6_Config_Data[0]" LOC = AJ25; Unused => Config Pin
#NET "SP6_Config_Data[1]" LOC = AB20; Unused => Config Pin
#NET "SP6_Config_Data[2]" LOC = AC20; Unused => Config Pin
#NET "SP6_Config_Data[3]" LOC = AE11; Unused => Config Pin
#NET "SP6_Config_Data[4]" LOC = AF11; Unused => Config Pin
#NET "SP6_Config_Data[5]" LOC = AH7; Unused => Config Pin
#NET "SP6_Config_Data[6]" LOC = AK7; Unused => Config Pin
#NET "SP6_Config_Data[7]" LOC = AB13; Unused => Config Pin
#NET "SP6_Config_CLK" LOC = AJ26; Unused => Config Pin
#NET "SP6_Config_M0" LOC = AK26; Unused => Config Pin
#NET "SP6_Config_M1" LOC = AG24; Unused => Config Pin
#NET "SP6_Config_nInit" LOC = AJ6; Unused => Config Pin
############################################
# 		BANK 3		2.5 V
############################################
# Vérifié 28.08.2012 ELR
NET "SP6_GPIO_io[1]" LOC = N4;
NET "SP6_GPIO_io[2]" LOC = P2;
NET "SP6_GPIO_io[3]" LOC = AD1;
NET "SP6_GPIO_io[4]" LOC = AC1;
NET "SP6_GPIO_io[5]" LOC = AD2;
NET "SP6_GPIO_io[6]" LOC = AC3;
NET "SP6_GPIO_io[7]" LOC = AB3;
NET "SP6_GPIO_io[8]" LOC = Y4;
NET "SP6_GPIO_io[9]" LOC = P1;
NET "SP6_GPIO_io[10]" LOC = N3;
NET "SP6_GPIO_io[11]" LOC = N1;
# ELR fin vérif
NET "DIP_i[9]" LOC = T4;
NET "DIP_i[8]" LOC = T3;
NET "DIP_i[7]" LOC = T2;
NET "DIP_i[6]" LOC = U3;
NET "DIP_i[5]" LOC = U1;
NET "DIP_i[4]" LOC = W3;
NET "DIP_i[3]" LOC = W1;
NET "DIP_i[2]" LOC = Y1;
NET "DIP_i[1]" LOC = AA5;
NET "DIP_i[0]" LOC = AA4;

NET "SP6_GPIO_22_i" LOC = Y3;

NET "AD_GPIO_o[0]" LOC = R5;
NET "AD_GPIO_o[1]" LOC = P6;
NET "AD_GPIO_o[2]" LOC = P3;
NET "AD_GPIO_o[3]" LOC = P7;
NET "AD_SDI_o" LOC = P4;
NET "AD_nCS_o" LOC = R1;
NET "AD_CLK_o" LOC = R3;
NET "AD_SDO_i" LOC = R4;

NET "FMC2_PRSNT_M2C_L_i" LOC = AB4;
NET "FMC2_LA_P_io[6]" LOC = V2;
NET "FMC2_LA_P_io[30]" LOC = AF2;
NET "FMC2_LA_P_io[3]" LOC = AC6;
NET "FMC2_LA_P_io[28]" LOC = AF3;
NET "FMC2_LA_P_io[29]" LOC = AE6;
NET "FMC2_LA_P_io[31]" LOC = AF1;
NET "FMC2_LA_P_io[25]" LOC = AC5;
NET "FMC2_LA_P_io[24]" LOC = AD7;
NET "FMC2_LA_P_io[27]" LOC = AE5;
NET "FMC2_LA_P_io[20]" LOC = T9;
NET "FMC2_LA_P_io[26]" LOC = AG4;
NET "FMC2_LA_P_io[18]" LOC = N10;
NET "FMC2_LA_P_io[19]" LOC = AH5;
NET "FMC2_LA_P_io[0]" LOC = V10;
NET "FMC2_LA_P_io[17]" LOC = AJ2;
NET "FMC2_LA_P_io[15]" LOC = AJ4;
NET "FMC2_LA_P_io[23]" LOC = U5;
NET "FMC2_LA_P_io[14]" LOC = AH3;
NET "FMC2_LA_P_io[16]" LOC = AH1;
NET "FMC2_LA_P_io[12]" LOC = AE4;
NET "FMC2_LA_P_io[11]" LOC = AD4;
NET "FMC2_LA_P_io[13]" LOC = AE3;
NET "FMC2_LA_P_io[9]" LOC = AA7;
NET "FMC2_LA_P_io[10]" LOC = AB7;
NET "FMC2_LA_P_io[7]" LOC = Y9;
NET "FMC2_LA_P_io[1]" LOC = U7;
NET "FMC2_LA_P_io[8]" LOC = T7;
NET "FMC2_LA_P_io[5]" LOC = W7;
NET "FMC2_LA_P_io[4]" LOC = V8;
NET "FMC2_LA_P_io[2]" LOC = R7;
NET "FMC2_LA_P_io[22]" LOC = W11;
NET "FMC2_LA_P_io[33]" LOC = AB2;
NET "FMC2_LA_P_io[21]" LOC = W10;
NET "FMC2_LA_P_io[32]" LOC = AA3;
NET "FMC2_LA_N_io[6]" LOC = V1;
NET "FMC2_LA_N_io[30]" LOC = AH2;
NET "FMC2_LA_N_io[3]" LOC = AD6;
NET "FMC2_LA_N_io[28]" LOC = AG3;
NET "FMC2_LA_N_io[29]" LOC = AF6;
NET "FMC2_LA_N_io[31]" LOC = AG1;
NET "FMC2_LA_N_io[25]" LOC = AC4;
NET "FMC2_LA_N_io[24]" LOC = AE7;
NET "FMC2_LA_N_io[27]" LOC = AG5;
NET "FMC2_LA_N_io[20]" LOC = T8;
NET "FMC2_LA_N_io[26]" LOC = AH4;
NET "FMC2_LA_N_io[18]" LOC = N9;
NET "FMC2_LA_N_io[19]" LOC = AK5;
NET "FMC2_LA_N_io[0]" LOC = V9;
NET "FMC2_LA_N_io[17]" LOC = AK2;
NET "FMC2_LA_N_io[15]" LOC = AK4;
NET "FMC2_LA_N_io[23]" LOC = U4;
NET "FMC2_LA_N_io[14]" LOC = AK3;
NET "FMC2_LA_N_io[16]" LOC = AJ1;
NET "FMC2_LA_N_io[12]" LOC = AF4;
NET "FMC2_LA_N_io[11]" LOC = AD3;
NET "FMC2_LA_N_io[13]" LOC = AE1;
NET "FMC2_LA_N_io[9]" LOC = AA6;
NET "FMC2_LA_N_io[10]" LOC = AB6;
NET "FMC2_LA_N_io[7]" LOC = Y8;
NET "FMC2_LA_N_io[1]" LOC = U6;
NET "FMC2_LA_N_io[8]" LOC = T6;
NET "FMC2_LA_N_io[5]" LOC = W6;
NET "FMC2_LA_N_io[4]" LOC = V7;
NET "FMC2_LA_N_io[2]" LOC = R6;
NET "FMC2_LA_N_io[22]" LOC = Y11;
NET "FMC2_LA_N_io[33]" LOC = AB1;
NET "FMC2_LA_N_io[21]" LOC = W9;
NET "FMC2_LA_N_io[32]" LOC = AA1;
NET "FMC2_CLK1_M2C_P_i" LOC = V4;
NET "FMC2_CLK1_M2C_N_i" LOC = V3;
NET "FMC2_CLK0_M2C_P_i" LOC = W5;
NET "FMC2_CLK0_M2C_N_i" LOC = W4;
# "Unused" LOC = AA10;
# "Unused" LOC = Y7;
# "Unused" LOC = M7;
# "Unused" LOC = N5;
# "Unused" LOC = T1;
# "Unused" LOC = Y2;
# "Unused" LOC = N8;
############################################
# 		BANK 4
############################################
# Vérifier 22.03.2012 VTT
NET "FPGA_LED_o[7]" LOC = L7;
NET "FPGA_LED_o[6]" LOC = K2;
NET "FPGA_LED_o[5]" LOC = K1;
NET "FPGA_LED_o[4]" LOC = L6;
NET "FPGA_LED_o[3]" LOC = L1;
NET "FPGA_LED_o[2]" LOC = L3;
NET "FPGA_LED_o[1]" LOC = M1;
NET "FPGA_LED_o[0]" LOC = M2;

NET "Inc_Enc_A_i" LOC = L5;
NET "Inc_Enc_B_i" LOC = L4;

NET "Digital_Audio_TX_o" LOC = M4;
NET "Digital_Audio_RX_i" LOC = J3;

NET "PCI_PERST_o" LOC = M3;

NET "CAN_RXD_i" LOC = H4;
NET "CAN_TXD_o" LOC = H3;

NET "SP6_GPIO33_io[1]" LOC = J4;
NET "SP6_GPIO33_io[2]" LOC = H1;
NET "SP6_GPIO33_io[3]" LOC = H2;
NET "SP6_GPIO33_io[4]" LOC = J1;
#NET "SP6_GPIO33_io[5]" LOC = J5;

NET "SP6_nReset_i" LOC = J5;

NET "SP6_UART1_CTS_o" LOC = K4;
NET "SP6_UART1_RTS_i" LOC = K3;
NET "SP6_UART1_RX_i" LOC = C1;
NET "SP6_UART1_TX_o" LOC = B1;

NET "DAC_nRS_o" LOC = G1;
NET "DAC_nCS_o" LOC = F1;
NET "DAC_nLDAC_o" LOC = E5;
NET "DAC_CLK_o" LOC = F2;
NET "DAC_SDI_o" LOC = E4;

NET "Buz_osc_o" LOC = E1;
NET "PCB_TB_io" LOC = H6;

# vérifié 28.08.2012 ELR
NET "SP6_GPIO_H_io[1]" LOC = D4;
NET "SP6_GPIO_H_io[2]" LOC = D3;
NET "SP6_GPIO_H_io[3]" LOC = B3;
NET "SP6_GPIO_H_io[4]" LOC = A3;
NET "SP6_GPIO_H_io[5]" LOC = F4;
NET "SP6_GPIO_H_io[6]" LOC = F3;
NET "SP6_GPIO_H_io[7]" LOC = D2;
NET "SP6_GPIO_H_io[8]" LOC = D1;
# fin vérif ELR
NET "LCD_DB_io[0]" LOC = G5;
NET "LCD_DB_io[1]" LOC = C4;
NET "LCD_DB_io[2]" LOC = A4;
NET "LCD_DB_io[3]" LOC = C5;
NET "LCD_DB_io[4]" LOC = A5;
NET "LCD_DB_io[5]" LOC = B5;
NET "LCD_DB_io[6]" LOC = D5;
NET "LCD_DB_io[7]" LOC = J6;
NET "LCD_R_nW_o" LOC = B2;
NET "LCD_RS_o" LOC = A2;
NET "LCD_E_o" LOC = G4;

# "Unused" LOC = G3;
# "Unused" LOC = E3;
############################################
# 		BANK 5
############################################
# Vérifier 22.03.2012 VTT
NET "DDR2_A_o[0]" LOC = D28;
NET "DDR2_A_o[1]" LOC = D30;
NET "DDR2_A_o[2]" LOC = C30;
NET "DDR2_A_o[3]" LOC = E29;
NET "DDR2_A_o[4]" LOC = F27;
NET "DDR2_A_o[5]" LOC = H26;
NET "DDR2_A_o[6]" LOC = H27;
NET "DDR2_A_o[7]" LOC = C29;
NET "DDR2_A_o[8]" LOC = B27;
NET "DDR2_A_o[9]" LOC = A27;
NET "DDR2_A_o[10]" LOC = F26;
NET "DDR2_A_o[11]" LOC = A26;
NET "DDR2_A_o[12]" LOC = B30;
NET "DDR2_A_o[13]" LOC = A28;
NET "DDR2_A14_i" LOC = A29;

NET "DDR2_BA_o[0]" LOC = D27;
NET "DDR2_BA_o[1]" LOC = C27;
NET "DDR2_BA_o[2]" LOC = D26;

NET "DDR2_DQ_io[0]" LOC = H28;
NET "DDR2_DQ_io[1]" LOC = H30;
NET "DDR2_DQ_io[2]" LOC = G29;
NET "DDR2_DQ_io[3]" LOC = G30;
NET "DDR2_DQ_io[4]" LOC = G27;
NET "DDR2_DQ_io[5]" LOC = G28;
NET "DDR2_DQ_io[6]" LOC = F28;
NET "DDR2_DQ_io[7]" LOC = F30;
NET "DDR2_DQ_io[8]" LOC = L27;
NET "DDR2_DQ_io[9]" LOC = L28;
NET "DDR2_DQ_io[10]" LOC = L29;
NET "DDR2_DQ_io[11]" LOC = L30;
NET "DDR2_DQ_io[12]" LOC = M26;
NET "DDR2_DQ_io[13]" LOC = M27;
NET "DDR2_DQ_io[14]" LOC = M28;
NET "DDR2_DQ_io[15]" LOC = M30;

NET "DDR2_CKE_o" LOC = B29;
NET "DDR2_WE_o" LOC = E26;
NET "DDR2_ODT_o" LOC = E30;
NET "DDR2_nRAS_o" LOC = K26;
NET "DDR2_nCAS_o" LOC = K27;
NET "DDR2_LDM_o" LOC = J28;
NET "DDR2_UDM_o" LOC = J27;

NET "DDR2_LDQS_P_o" LOC = J29;
NET "DDR2_LDQS_N_o" LOC = J30;

NET "DDR2_UDQS_P_o" LOC = K28;
NET "DDR2_UDQS_N_o" LOC = K30;

NET "DDR2_CK_P_o" LOC = E27;
NET "DDR2_CK_N_o" LOC = E28;

#------------------------------------------------------------------
##RZQ is required for all MCB designs.   Do not move the location #
##of this pin for ES devices.For production devices, RZQ can be moved to any #
##valid package pin within the MCB bank.For designs using Calibrated Input Termination, #
##a 2R resistor should be connected between RZQand ground, where R is the desired#
##input termination value.  Otherwise, RZQ should be left as a no-connect (NC) pin.#
#------------------------------------------------------------------
NET  "mcb5_rzq"                                  LOC = "G25" ;

#------------------------------------------------------------------
##ZIO is only required for MCB designs using Calibrated Input Termination.#
##ZIO can be moved to any valid package pin (i.e. bonded IO) within the#
##MCB bank but must be left as a no-connect (NC) pin.#
#------------------------------------------------------------------
NET  "mcb5_zio"                                  LOC = "N24" ;
# "Unused" LOC = C26;
# "Unused" LOC = L24;
# "Unused" LOC = L25;

############################################
# 		BANKLESS
############################################
# Vérifier 20.03.2012 VTT/YNG
#NET "FMC1_DP0_C2M_P_o" LOC = AJ23;
#NET "FMC1_DP0_C2M_N_o" LOC = AK23;
#NET "FMC1_DP0_M2C_P_i" LOC = AG22;
#NET "FMC1_DP0_M2C_N_i" LOC = AH22;
#NET "FMC1_GBTCLK0_M2C_P_i" LOC = AJ19;
#NET "FMC1_GBTCLK0_M2C_N_i" LOC = AK19;

#NET "FMC2_DP0_C2M_P_o" LOC = AJ21;
#NET "FMC2_DP0_C2M_N_o" LOC = AK21;
#NET "FMC2_DP0_M2C_P_i" LOC = AG20;
#NET "FMC2_DP0_M2C_N_i" LOC = AH20;
#NET "FMC2_GBTCLK0_M2C_P_i" LOC = AG18;
#NET "FMC2_GBTCLK0_M2C_N_i" LOC = AH18;

#NET "SMB_TX0_P_o" LOC = B21;
#NET "SMB_TX0_N_o" LOC = A21;
#NET "SMB_RX0_P_i" LOC = D20;
#NET "SMB_RX0_N_i" LOC = C20;
#NET "SMB_REFCLK_P_i" LOC = D18;
#NET "SMB_REFCLK_N_i" LOC = C18;

# "Unused" LOC = B23;
# "Unused" LOC = A23;
# "Unused" LOC = D22;
# "Unused" LOC = C22;
# "Unused" LOC = B19;
# "Unused" LOC = A19;

#NET "PCIe_TX0_P_o" LOC = B9;
#NET "PCIe_TX0_N_o" LOC = A9;
#NET "PCIe_RX0_P_i" LOC = D10;
#NET "PCIe_RX0_N_i" LOC = C10;
#NET "PCIe_TX1_P_o" LOC = B11;
#NET "PCIe_TX1_N_o" LOC = A11;
#NET "PCIe_RX1_P_i" LOC = D12;
#NET "PCIe_RX1_N_i" LOC = C12;

#NET "LJ_PCIe_REFCLK0_P_i" LOC = B13;
#NET "LJ_PCIe_REFCLK0_N_i" LOC = A13;
#NET "LJ_PCIe_REFCLK1_P_i" LOC = D14;
#NET "LJ_PCIe_REFCLK1_N_i" LOC = C14;

#NET "SATA_TX_Conn_P_o" LOC = AJ9;
#NET "SATA_TX_Conn_N_o" LOC = AK9;
#NET "SATA_RX_Conn_P_i" LOC = AG10;
#NET "SATA_RX_Conn_N_i" LOC = AH10;
#NET "SATA_TX_BTB_P_o" LOC = AJ11;
#NET "SATA_TX_BTB_N_o" LOC = AK11;
#NET "SATA_RX_BTB_P_i" LOC = AG12;
#NET "SATA_RX_BTB_N_i" LOC = AH12;
#NET "SATA_REFCLK_P_i" LOC = AJ13;
#NET "SATA_REFCLK_N_i" LOC = AK13;
#NET "SATA2_REFCLK_P_i" LOC = AG14;
#NET "SATA2_REFCLK_N_i" LOC = AH14;

############################################
# 		Timing Constraints
############################################

#Created by Constraints Editor (xc6slx150t-fgg900-3) - 2012/02/16
NET "SP6_Clk_100MHz_i" TNM_NET = SP6_Clk_100MHz_i;
TIMESPEC TS_SP6_Clk_100MHz_i = PERIOD "SP6_Clk_100MHz_i" 10 ns HIGH 50%;

NET "SP6_LB_CLK_i" TNM_NET = SP6_LB_CLK_i;
TIMESPEC TS_SP6_LB_CLK_i = PERIOD "SP6_LB_CLK_i" 20.000 ns HIGH 50%;

#Created by Constraints Editor (xc6slx150t-fgg900-3) - 2012/02/16
INST "Addr_Data_LB_io<0>" TNM = LB_Group;
INST "Addr_Data_LB_io<1>" TNM = LB_Group;
INST "Addr_Data_LB_io<2>" TNM = LB_Group;
INST "Addr_Data_LB_io<3>" TNM = LB_Group;
INST "Addr_Data_LB_io<4>" TNM = LB_Group;
INST "Addr_Data_LB_io<5>" TNM = LB_Group;
INST "Addr_Data_LB_io<6>" TNM = LB_Group;
INST "Addr_Data_LB_io<7>" TNM = LB_Group;
INST "Addr_Data_LB_io<8>" TNM = LB_Group;
INST "Addr_Data_LB_io<9>" TNM = LB_Group;
INST "Addr_Data_LB_io<10>" TNM = LB_Group;
INST "Addr_Data_LB_io<11>" TNM = LB_Group;
INST "Addr_Data_LB_io<12>" TNM = LB_Group;
INST "Addr_Data_LB_io<13>" TNM = LB_Group;
INST "Addr_Data_LB_io<14>" TNM = LB_Group;
INST "Addr_Data_LB_io<15>" TNM = LB_Group;
INST "Addr_LB_i<16>" TNM = LB_Group;
INST "Addr_LB_i<17>" TNM = LB_Group;
INST "Addr_LB_i<18>" TNM = LB_Group;
INST "Addr_LB_i<19>" TNM = LB_Group;
INST "Addr_LB_i<20>" TNM = LB_Group;
INST "Addr_LB_i<21>" TNM = LB_Group;
INST "Addr_LB_i<22>" TNM = LB_Group;
INST "Addr_LB_i<23>" TNM = LB_Group;
INST "Addr_LB_i<24>" TNM = LB_Group;
INST "SP6_LB_RE_nOE_i" 		TNM = LB_GROUP;
INST "SP6_LB_nWE_i" 			TNM = LB_GROUP;
INST "SP6_LB_WAIT3_o" 		TNM = LB_GROUP;
INST "SP6_LB_nCS3_i" 		TNM = LB_GROUP;
INST "SP6_LB_nCS4_i" 		TNM = LB_GROUP;
INST "SP6_LB_nADV_ALE_i" 	TNM = LB_GROUP;
INST "SP6_LB_nBE0_CLE_i" 	TNM = LB_GROUP;
INST "SP6_LB_WAIT0_o" 		TNM = LB_GROUP;
INST "SP6_LB_CLK_i" 			TNM = LB_GROUP;

# grouping for output timing constraints
INST "Addr_Data_LB_io<0>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<1>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<2>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<3>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<4>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<5>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<6>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<7>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<8>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<9>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<10>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<11>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<12>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<13>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<14>" TNM = LB_Group_out;
INST "Addr_Data_LB_io<15>" TNM = LB_Group_out;
INST "SP6_LB_WAIT3_o" 		TNM = LB_Group_out;
INST "SP6_LB_WAIT0_o" 		TNM = LB_Group_out;

#Created by Constraints Editor (xc6slx150t-fgg900-3) - 2012/02/16
TIMEGRP "LB_Group" OFFSET = IN 10 ns VALID 10 ns BEFORE "SP6_Clk_100MHz_i" RISING;

# this make possible to out a clock to a pad
#PIN "PLL/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "PLL/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

# SP6_LB_CLK_i clock is not placed on a BUFG pin, the router outputs an error if the following constaint is not present
NET "SP6_LB_CLK_i" CLOCK_DEDICATED_ROUTE = FALSE; 


TIMEGRP "LB_Group_out" OFFSET = OUT 12 ns AFTER "SP6_Clk_100MHz_i" RISING;